<div class="container-xl">
  <!-- <button class="btn btn-dark" (click)="logout()">Logout</button> -->
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-5">
            <h2>Clients <b>Management</b></h2>
          </div>
          <div class="col-sm-7" routerLink="/add">
            <a routerLink="/add"  class="btn btn-secondary "><i class="fa-solid
                fa-user-plus"></i>
              <span>Add New client</span></a>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i= index">
            <!-- <td>{{i + 1}}</td> -->
            <td>{{user.id}}</td>
            <td><a><img [src]="user.image ? user.image : default" class="img-fluid avatar" alt="Avatar"> {{user.name}} </a></td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td class="col-2">
              <a class="text-primary" title="Show detils"
                data-toggle="tooltip" routerLink="/client/viewUser/{{user.id}}"><i class="fa-solid fa-eye"></i></a>
              <a class="text-warning" title="Edit"
                data-toggle="tooltip"><i class="fa-solid fa-pen-to-square"></i></a>
              <a class="text-danger" title="Delete"
                data-toggle="tooltip hover"><i class="fa-solid fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
