<div class="container wrapper">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
  <div class="text-center">
      <h1>Login</h1>
      <form (ngSubmit)="loginUser()" [formGroup]="loginForm">
          <div class="form-floating mb-3">
              <input type="email" formControlName="email" class="form-control" placeholder="name@example.com">
              <label>Email</label>
              <p *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched" class="text-danger errorLabel">
                  the <strong>email</strong> is required
              </p>
              <p *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched" class="text-danger errorLabel">
                  the <strong>email</strong> is invalid
              </p>
          </div>
          <div class="form-floating mb-3">
              <input type="password" formControlName="password" class="form-control" placeholder="Password">
              <label>Password</label>
              <p *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="text-danger errorLabel">
                  the <strong>password</strong> is required
              </p>
          </div>
          <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary btn-lg" [disabled]="loginForm.invalid" >Login</button>
          </div>
      </form>
  </div>
  </div>
</div>
</div>
