<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
  <div class="card-body">
      <h5 class="fs-2 fw-bold mb-3 bg-dark py-3 text-white">{{title}}
        <div *ngIf="loading" class="spinner-border float-right" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </h5>
      <span *ngIf="submitted && createUser.invalid" class="badge badge-danger text-danger"> ALL FIELDS ARE REQUIRED</span>
      <form  [formGroup]="createUser" (ngSubmit)="addEditUser()">
          <div class="input-group input-group-lg mb-3">
              <span class="input-group-text">
                  <i class="fas fa-user-circle" ></i>
              </span>
              <input type="text" formControlName="name" class="form-control" placeholder="Name">
          </div>
          <div *ngIf="createUser.get('name')?.hasError('required') && createUser.get('name')?.touched" class="text-danger errorLabel">
            the <strong>name</strong> is required
          </div>
          <div class="text-danger" *ngIf="createUser.get('name')?.hasError('pattern')">length should be more than 3</div>
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
                <i class="fas fa-user-circle" ></i>
            </span>
            <input type="text" formControlName="username" class="form-control" placeholder="UserName">
          </div>
          <p *ngIf="createUser.get('username')?.hasError('required') && createUser.get('username')?.touched" class="text-danger errorLabel">
            the <strong>username</strong> is required
          </p>
          <small class="text-danger" *ngIf="createUser.get('username')?.hasError('pattern')">enter user name (at least 8 max 20 at length , no numbers and no symbols )</small>
          <div class="input-group input-group-lg mb-3">
          <span class="input-group-text">
            <i class="fa-solid fa-envelope"></i>
          </span>
          <input type="text" formControlName="email" class="form-control" placeholder="Email">
          </div>
          <span *ngIf="createUser.get('email')?.hasError('required') && createUser.get('email')?.touched" class="text-danger errorLabel">
            the <strong>email</strong> is required
          </span>
          <span *ngIf="createUser.get('email')?.hasError('email') && createUser.get('email')?.touched" class="text-danger errorLabel">
            the <strong>email</strong> is invalid
          </span>
          <div *ngIf="editFlag" class="input-group input-group-lg mb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-briefcase"></i>
              </span>
              <!-- <input type="text" formControlName="role" class="form-control" > -->
              <select #rols class="form-select">
                <option default>Pick a role</option>
                <option>Engineer</option>
                <option>Provider</option>
                <option>customer</option>
              </select>
          </div>
          <div class="row">

          <div class="col-lg-6">
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">
                  <i class="fa-solid fa-city"></i>
                </span>
                <input type="text" formControlName="city" class="form-control"
                    placeholder="city">

            </div>

            </div>
              <div class="col-lg-6">
                  <div class="input-group input-group-lg mb-3">
                      <span class="input-group-text">
                        <i class="fa-solid fa-road"></i>
                      </span>
                      <input type="text" formControlName="street" class="form-control"
                          placeholder="street">

                  </div>

              </div>
          </div>
          <span *ngIf="createUser.get('city')?.hasError('required') && createUser.get('city')?.touched" class="text-danger errorLabel">
            the <strong>city</strong> is required
          </span>
          <div class="text-danger" *ngIf="createUser.get('city')?.hasError('pattern')">length should be more than 3</div>
          <div *ngIf="createUser.get('street')?.hasError('required') && createUser.get('street')?.touched" class="text-danger errorLabel">
            the <strong>street</strong> is required
            <div class="text-danger" *ngIf="createUser.get('street')?.hasError('pattern')">length should be more than 3</div>

          </div>
            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-phone"></i>
              </span>
              <input type="text" formControlName="phone" class="form-control" placeholder="Phone number">

          </div>
          <span *ngIf="createUser.get('phone')?.hasError('required') && createUser.get('phone')?.touched" class="text-danger errorLabel">
            the <strong>phone</strong> is required
          </span>
          <div class="text-danger" *ngIf="createUser.get('phone')?.hasError('pattern')">invalid</div>
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fa-solid fa-lock"></i>
            </span>
            <input type="password" formControlName="password" class="form-control" placeholder="Password">
          </div>
          <span *ngIf="createUser.get('password')?.hasError('required') && createUser.get('password')?.touched" class="text-danger errorLabel">
            the <strong>password</strong> is required
          </span>
          <div class="text-danger" *ngIf="createUser.get('password')?.hasError('pattern')">invalid</div>
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fa-solid fa-lock"></i>
            </span>
            <input type="password" formControlName="confirmPassword" class="form-control" placeholder="confirmPassword">
        </div>
        <span *ngIf="createUser.get('confirmPassword')?.hasError('required') && createUser.get('confirmPassword')?.touched" class="text-danger errorLabel">
          <strong>confirm password</strong> is required
        </span>
        <div class="text-danger" *ngIf="createUser.get('confirmPassword')?.hasError('pattern')">invalid</div>
          <div class="d-grid gap-2">
              <button Class="btn color btn-lg" type="submit">
                  <i class="fas fa-database"></i> {{title}}
              </button>
          </div>
      </form>
  </div>
</div>
    </div>
  </div>


</div>

